/* @font-face {
  font-family: 'Osman Hadi Sotota';
  src: url('/fonts/Osman Hadi Sotota.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
} */

@font-face {
  font-family: 'Sohid Osman Hadi';
  src: url('/fonts/Sohid Osman Hadi.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}